*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-image: url('image/background.jpg');
    letter-spacing: 1px;
}

.maintext{
    text-align: center;
    line-height: 50px;
}

.aboutme{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 30px 50px 30px 50px;
    
}

